.custom-textarea{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 460px;
    height: auto;
    
}

.custom-textarea__field{
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(200, 200, 202, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    padding: 24px 0 49px;
}

.custom-textarea__label{
    position: absolute;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    color:rgba(153, 153, 158, 1);
    top: 0;
    left: 0;
    user-select: none;
}