.custom-checkbox{
    width: 245px;
    display: flex;
    align-items: center;
    padding-bottom: 6px;
    
}

.custom-checkbox__field:checked + .custom-checkbox__label::before{
    display: block;
}

.custom-checkbox__label{
    position: relative;
    width: 100%;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    color:rgba(153, 153, 158, 1);
    cursor: pointer;
    
}  

.custom-checkbox__label-text{
    padding-left: 35px;
    display: block;
    user-select: none;
    
}

.custom-checkbox__label-link{
    color: rgba(60, 82, 230, 1);
}

.custom-checkbox__label::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(42, 74, 229, 1);
    left:0;
    top: 50%;
    transform: translateY(-50%);
}

.custom-checkbox__label::before{
    display: none;
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: rgba(60, 82, 230, 1);
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
}


