.successful-block {
    display: flex;
	flex-direction: column;
	gap: 6px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 28px;
    width: 260px;
    height: 90px;
    background-color: rgba(60, 82, 230, 1);
    padding: 16px 41px;
    text-align: center;
}

.successful-block__top{
    display: block;
	font-weight: 400;
	font-size: 24px;
	line-height: 36px;
	text-transform: uppercase;
}

.successful-block__bottom{
    display: flex;
    align-items: center;
    gap: 5px;
}

.successful-block__lower{
    font-weight: 400;
	font-size: 12px;
	line-height: 120%;
	color: #fff;
}